*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

:root{
  --white:#fff;
  --background: #5c5b5b;
  --background-menu: #1a1a1a;
  --box-content: #686868;
}

body{
  background-color: var(--background);
  color:white;
}

body, input, button, textarea{
  font: 400 1rem "Roboto", sans-serif;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}