*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

:root{
  --white:#fff;
  --background:rgb(37, 37, 37);;
  --background-menu:rgb(29, 29, 29);;
  --box-content: #1f1f1f;
  --blue: #1b3e4d;
}

body{
  background-color: var(--background);
  color:white;
}

body, input, button, textarea{
  font: 400 1rem "Roboto", sans-serif;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: inherit;
}